*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
font-size: 62.5%;
font-family: "Mulish", sans-serif;

--color-base-white: hsl(0, 0%, 100%);
--color-base-blue-200: hsl(195, 46%, 40%);
--color-base-blue-600: hsl(195, 91%, 25%);
--color-base-black-800: hsl(240, 6%, 13%);
--color-base-black-900: hsl(240, 5%, 7%);
}

header{
  background-color: var(--color-base-blue-600);
  padding: 1.2rem 2.8rem;
}

header .container{
  max-width: 37.4rem;
  margin-inline: auto;

  display: flex;
  gap: 2.6rem;
  align-items: center;
}

.avatar{
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
}